include LICENSE
include README.md
include SOURCE_CODE.md
include THIRD_PARTY_NOTICES.md
include package.json
include package-lock.json
include srun_client.py
recursive-include srunpy/html *.css *.html *.ico *.js *.png *.ttf
recursive-include tests/js *.js
recursive-include packaging *.iss
recursive-include scripts *.ps1
